<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ww.dao.TkdMapper" >
  <resultMap id="BaseResultMap" type="com.ww.model.Tkd" >
    <id column="djid" property="djid" jdbcType="VARCHAR" />
    <result column="khid" property="khid" jdbcType="INTEGER" />
    <result column="khname" property="khname" jdbcType="VARCHAR" />
    <result column="riqi" property="riqi" jdbcType="DATE" />
    <result column="yfje" property="yfje" jdbcType="DOUBLE" />
    <result column="sfje" property="sfje" jdbcType="DOUBLE" />
    <result column="cbje" property="cbje" jdbcType="DOUBLE" />
    <result column="jystate" property="jystate" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="bz" property="bz" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    djid, khid, khname, riqi, yfje, sfje, cbje, jystate, userid, username, bz
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tkd
    where djid = #{djid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tkd
    where djid = #{djid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ww.model.Tkd" >
    insert into tkd (djid, khid, khname, 
      riqi, yfje, sfje, cbje, 
      jystate, userid, username, 
      bz)
    values (#{djid,jdbcType=VARCHAR}, #{khid,jdbcType=INTEGER}, #{khname,jdbcType=VARCHAR}, 
      #{riqi,jdbcType=DATE}, #{yfje,jdbcType=DOUBLE}, #{sfje,jdbcType=DOUBLE}, #{cbje,jdbcType=DOUBLE}, 
      #{jystate,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{bz,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ww.model.Tkd" >
    insert into tkd
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="djid != null" >
        djid,
      </if>
      <if test="khid != null" >
        khid,
      </if>
      <if test="khname != null" >
        khname,
      </if>
      <if test="riqi != null" >
        riqi,
      </if>
      <if test="yfje != null" >
        yfje,
      </if>
      <if test="sfje != null" >
        sfje,
      </if>
      <if test="cbje != null" >
        cbje,
      </if>
      <if test="jystate != null" >
        jystate,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="bz != null" >
        bz,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="djid != null" >
        #{djid,jdbcType=VARCHAR},
      </if>
      <if test="khid != null" >
        #{khid,jdbcType=INTEGER},
      </if>
      <if test="khname != null" >
        #{khname,jdbcType=VARCHAR},
      </if>
      <if test="riqi != null" >
        #{riqi,jdbcType=DATE},
      </if>
      <if test="yfje != null" >
        #{yfje,jdbcType=DOUBLE},
      </if>
      <if test="sfje != null" >
        #{sfje,jdbcType=DOUBLE},
      </if>
      <if test="cbje != null" >
        #{cbje,jdbcType=DOUBLE},
      </if>
      <if test="jystate != null" >
        #{jystate,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ww.model.Tkd" >
    update tkd
    <set >
      <if test="khid != null" >
        khid = #{khid,jdbcType=INTEGER},
      </if>
      <if test="khname != null" >
        khname = #{khname,jdbcType=VARCHAR},
      </if>
      <if test="riqi != null" >
        riqi = #{riqi,jdbcType=DATE},
      </if>
      <if test="yfje != null" >
        yfje = #{yfje,jdbcType=DOUBLE},
      </if>
      <if test="sfje != null" >
        sfje = #{sfje,jdbcType=DOUBLE},
      </if>
      <if test="cbje != null" >
        cbje = #{cbje,jdbcType=DOUBLE},
      </if>
      <if test="jystate != null" >
        jystate = #{jystate,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        bz = #{bz,jdbcType=VARCHAR},
      </if>
    </set>
    where djid = #{djid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ww.model.Tkd" >
    update tkd
    set khid = #{khid,jdbcType=INTEGER},
      khname = #{khname,jdbcType=VARCHAR},
      riqi = #{riqi,jdbcType=DATE},
      yfje = #{yfje,jdbcType=DOUBLE},
      sfje = #{sfje,jdbcType=DOUBLE},
      cbje = #{cbje,jdbcType=DOUBLE},
      jystate = #{jystate,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR}
    where djid = #{djid,jdbcType=VARCHAR}
  </update>
</mapper>